SEKURITAS_POSTGRES_CONTAINER=mandala-sekuritas-postgres-dev
SEKURITAS_POSTGRES_USER=postgres
SEKURITAS_POSTGRES_PASSWORD=postgres
SEKURITAS_POSTGRES_DB=mandala_sekuritas
SEKURITAS_POSTGRES_PORT=5432
SEKURITAS_POSTGRES_VOLUME=sekuritas_postgres_data_dev
