SEKURITAS_POSTGRES_CONTAINER=mandala-sekuritas-postgres-prod
SEKURITAS_POSTGRES_USER=mandala_sekuritas_prod
SEKURITAS_POSTGRES_PASSWORD=replace-with-prod-db-password
SEKURITAS_POSTGRES_DB=mandala_sekuritas_prod
SEKURITAS_POSTGRES_PORT=5532
SEKURITAS_POSTGRES_VOLUME=sekuritas_postgres_data_prod
