MATS_POSTGRES_CONTAINER=mandala-mats-postgres-prod
MATS_POSTGRES_USER=mandala_mats_prod
MATS_POSTGRES_PASSWORD=replace-with-prod-db-password
MATS_POSTGRES_DB=mandala_mats_prod
MATS_POSTGRES_PORT=5534
MATS_POSTGRES_VOLUME=mats_postgres_data_prod
