MATS_POSTGRES_CONTAINER=mandala-mats-postgres-dev
MATS_POSTGRES_USER=mandala_mats
MATS_POSTGRES_PASSWORD=mandala_mats
MATS_POSTGRES_DB=mandala_mats
MATS_POSTGRES_PORT=5434
MATS_POSTGRES_VOLUME=mats_postgres_data_dev
