BEI_POSTGRES_CONTAINER=mandala-bei-postgres-dev
BEI_POSTGRES_USER=mandala_bei
BEI_POSTGRES_PASSWORD=mandala_bei
BEI_POSTGRES_DB=mandala_bei
BEI_POSTGRES_PORT=5441
BEI_POSTGRES_VOLUME=bei_postgres_data_dev
BEI_REDIS_CONTAINER=mandala-redis-dev
BEI_REDIS_PORT=6379
