BEI_POSTGRES_CONTAINER=mandala-bei-postgres-prod
BEI_POSTGRES_USER=mandala_bei_prod
BEI_POSTGRES_PASSWORD=replace-with-prod-db-password
BEI_POSTGRES_DB=mandala_bei_prod
BEI_POSTGRES_PORT=5541
BEI_POSTGRES_VOLUME=bei_postgres_data_prod
BEI_REDIS_CONTAINER=mandala-redis-prod
BEI_REDIS_PORT=6380
