DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mandala_sekuritas
PORT=3002
JWT_SECRET=super_secret_key_change_in_production
MATS_API_URL=http://localhost:3000
BEI_API_URL=http://localhost:3001
